/*#18BC9C - VERDE*/
/*#3C8DBC - AZUL*/

.navbar-text > a {
  color: inherit;
  text-decoration: none;
}

body {
  padding-top: 70px;
  padding-bottom: 100px;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 12px;
  background-color: #F3F3F4;
    /*overflow-y: scroll;*/
    /*overflow-y: -moz-scrollbars-vertical;*/
}

p {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.dropdown-custom {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 12px;
  background-color: #FFFFFF;
}

.dropdown-custom > li > a:hover {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 12px;
  background-color: #FFFFFF;
  color: #3C8DBC;
}

.btn-custom {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 12px;
  background-color: #FFFFFF;
  color: #3C8DBC;
}

.navbar-default {
  background-color: #fff;
  font-size: 12px;
  color: #515151;
}

.navbar-default .navbar-brand {
  color: #3C8DBC;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #3C8DBC;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #515151;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #3C8DBC;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #FFFFFF;
  color: #3C8DBC;
}

.toggle.btn{
  min-height:25px
}

.btn-login-primary {
    background-color: #32404E;
    border-color: #32404E;
    color: #FFFFFF;
}

.btn-login-primary:hover,
.btn-login-primary:focus,
.btn-login-primary:active,
.btn-login-primary.active,
.open .dropdown-toggle.btn-login-primary {
    color: #FFFFFF;
    background-color: #3C8DBC;
    border-color: #3C8DBC;
}



.btn-primary {
    background-color: #3C8DBC;
    color: #FFFFFF;
    height: 23px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    padding: 2px 12px;
}


.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #3C8DBC;
    border: 1px solid #3C8DBC;
    outline:none;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #FFFFFF;
}

.btn-danger {
    background-color: #E1272D;
    border: 1px solid #E1272D;
    height: 23px;
    outline:none;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    padding: 2px 12px;
}

.btn-success {
  background-color: #3C8DBC;
  border-color: #3C8DBC;
  color: #FFFFFF;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #FFFFFF;
  background-color: #13987E;
  border-color: #13987E;
}

.btn-default {
  background-color: #95A5A6;
  border-color: #95A5A6;
  color: #FFFFFF;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    padding: 2px 12px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-success {
  color: #FFFFFF;
  background-color: #7F9293;
  border-color: #74898A;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    padding: 2px 12px;
}






.btn-white-green {
    background-color: #FFFFFF;
    color: #333;
    border-color: #ccc;
    height: 23px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    padding: 2px 12px;
}
.btn-white-green:hover,
.btn-white-green:active,
.btn-white-green:active{
    background-color: #5cb85c;
    border: 1px solid #ccc;
    outline:none;
    color: #FFFFFF;
}

.btn-white-yellow {
    background-color: #FFFFFF;
    color: #333;
    border-color: #ccc;
    height: 23px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    padding: 2px 12px;
}
.btn-white-yellow:hover,
.btn-white-yellow:active,
.btn-white-yellow:active{
    background-color: #EC971F;
    border: 1px solid #ccc;
    outline:none;
    color: #FFFFFF;
}

.btn-white-red {
    background-color: #FFFFFF;
    color: #333;
    border-color: #ccc;
    height: 23px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    padding: 2px 12px;
}
.btn-white-red:hover,
.btn-white-red:focus,
.btn-white-red:active,
.btn-white-red:active{
    background-color: #E1272D;
    border: 1px solid #ccc;
    outline:none;
    color: #FFFFFF;
}
.btn-white-red-active {
  border-color: #ccc;
  height: 23px;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 12px;
  padding: 2px 12px;
  background-color: #E1272D;
  border: 1px solid #ccc;
  outline:none;
  color: #FFFFFF;
}
.btn-white-red-active:hover,
.btn-white-red-active:focus,
.btn-white-red-active:active,
.btn-white-red-active:active{
    color: #FFFFFF;
}

.btn-white-yellow-active {
  border-color: #ccc;
  height: 23px;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 12px;
  padding: 2px 12px;
  background-color: #EC971F;
  border: 1px solid #ccc;
  outline:none;
  color: #FFFFFF;
}
.btn-white-yellow-active:hover,
.btn-white-yellow-active:focus,
.btn-white-yellow-active:active,
.btn-white-yellow-active:active{
    color: #FFFFFF;
}

.btn-white-green-active {
  border-color: #ccc;
  height: 23px;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 12px;
  padding: 2px 12px;
  background-color: #5cb85c;
  border: 1px solid #ccc;
  outline:none;
  color: #FFFFFF;
}
.btn-white-green-active:hover,
.btn-white-green-active:focus,
.btn-white-green-active:active{
    color: #FFFFFF;
}

.btn-white-purple {
    background-color: #FFFFFF;
    color: #333;
    border-color: #ccc;
    height: 23px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    padding: 2px 12px;
}
.btn-white-purple:hover,
.btn-white-purple:active,
.btn-white-purple:active{
    background-color: #B196D4;
    border: 1px solid #ccc;
    outline:none;
    color: #FFFFFF;
}

.btn-white-purple-active {
  border-color: #ccc;
  height: 23px;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 12px;
  padding: 2px 12px;
  background-color: #B196D4;
  border: 1px solid #ccc;
  outline:none;
  color: #FFFFFF;
}
.btn-white-green-active:hover,
.btn-white-green-active:focus,
.btn-white-green-active:active{
    color: #FFFFFF;
}





.btn-agendar {
    margin: 10px;
}

.home-thumb img:hover {
  transform: scale(1.1);
}

.thumbnail img {
  transition: all 0.3s ease 0s;
  width: 100%;
}

.thumbnail {
  overflow: hidden;
}

.bg-grey {
  background-color: #f9f9f9;
}

.carousel {
  padding-bottom: 20px;
}

.fbox {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.fbox-2 {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  /*border-style: solid solid none;*/
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.fbox-verde {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #5cb85c;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.fbox-vermelho {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #E1272D;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.fbox-amarelo {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #EC971F;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.fbox-sub {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-image: none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 2px;
  /*padding: 2px 7px 7px;*/
  padding: 2px 5px 5px;
  min-height: 48px;
}

.fbox-intervalor {
  min-height: 8px;
  background-color: #F3F3F4;
  margin: 8px 0;
  border-left-width: 5px;
  border-radius: 3px;
}

.fbox-intervalor-top {
  margin-top: 30px;
}
.fbox-intervalor-bottom {
  margin-bottom: 30px;
}



.flogin {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #3C8DBC;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.fwarning {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #E1272D;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.badge-custom {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 10px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #E1272D;
  border-radius: 7px;
}

.badge-green {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 10px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #5cb85c;
  border-radius: 7px;
}

.badge-yellow {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 10px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #EC971F;
  border-radius: 7px;
}

.badge-blue {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 10px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #3C8DBC;
  border-radius: 7px;
}

.badge-pink {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 10px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #EE82EE;
  border-radius: 7px;
}

.badge-purple {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 10px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #B196D4;
  border-radius: 7px;
}

.badge-gray {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 10px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #CDC9C9;
  border-radius: 7px;
}

.badge-circle-green {
  display: inline-block;
  color: #FFFFFF;
  line-height: 1;
  padding: 3px 8px;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #5cb85c;
  border-radius: 16px;
  /*border: 1px solid #000000;*/
}

.badge-circle-gray {
  display: inline-block;
  color: #FFFFFF;
  line-height: 1;
  padding: 3px 8px;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #D3D3D3;
  border-radius: 16px;
}

.form-custom {
    background-color: #FFFFFF;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    /*transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;*/
    width: 100%;
    /*box-shadow: none;*/
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    height: 31px;
}
.form-custom:focus
{
    border: 1px solid #3C8DBC;
    outline:none;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
}


.form-text-area {
    background-color: #FFFFFF;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 5px 12px;
    /*transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;*/
    width: 100%;
    /*box-shadow: none;*/
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    /*height: 31px;*/
}
.form-text-area:focus
{
    border: 1px solid #3C8DBC;
    outline:none;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
}


.form-menu-custom {
  background-color: #3C8DBC;
  border: 1px solid #e5e6e7;
  border-radius: 4px;
  color: #FFFFFF;
  display: block;
  padding: 2px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 12px;
  box-shadow: none;
}
.form-menu-custom:focus
{
    border: 1px solid #3C8DBC;
    outline:none;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
}

.flogo {
  color: #e6e6e6;
  font-size: 70px;
}
.finativo {
  /*color: #e6e6e6;*/
  padding-top: 137px;
  padding-bottom: 137px;
}

.image {
    max-height: 20px;
    overflow: hidden;
    height: 20px;
    /*max-width: 800px;*/
    -webkit-transition: max-width .5s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: max-width .5s ease-out;  /* FF4+ */
    -ms-transition: max-width .5s ease-out;  /* IE10? */
    -o-transition: max-width .5s ease-out;  /* Opera 10.5+ */
    transition: max-width .5s ease-out;
}
.image img {
    width: 40px;
}
@media only screen and (min-width: 1160px) {
    .image { max-width: 1000px; }
}

/*.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border-top: 1px solid #E5E6E7;
}*/

.form-control {
  background-color: #FFFFFF;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 12px;
  box-shadow: none;
  width: 100%;
}
.form-control:focus {
    outline: none;
    border: 1px solid #3C8DBC;
}






#grid_filter {
    position: fixed;
    top: 65px;
    right: 20px;
}



.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #3C8DBC;
    border-color: #3C8DBC;
    cursor: default;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    /*height:23px;*/
    padding: 2px 12px;
}
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    cursor: default;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    color:#515151;
    /*height:23px;*/
    padding: 2px 12px;
}
.pagination>li>a,
.pagination>li>span {
    cursor: default;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    color:#515151;
    /*height:23px;*/
    padding: 2px 12px;
}




.pagination {
  background-color: #3C8DBC;
  border-radius: 4px;
  color: #FFFFFF;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 12px;
  height: 23px;
}

.table tbody tr.active td,
.table tbody tr.active th {
  background-color: #3C8DBC;
  color: white;
}


/*.form-custom-input {
  background-color: #FFFFFF;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 12px;
  box-shadow: none;
  width: 100%;
}
.form-custom-input:focus
{
    border: 1px solid #3C8DBC;
    outline:none;
}*/


.fbox_gray {
    background-color: #EEEEEE;
}

.fbox_green {
  background-color: #dbf0db;
}

.fbox_red {
  background-color: #f2dede;
}


.bg-grey {
  background-color: #F3F3F4;
}

.fonte {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 12px;
}


.bs-callout {
    padding: 6px;
    margin: 8px 0;
    /*border: 1px solid #eee;*/
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-history {
    padding: 6px;
    margin: 3px 0;
    border-bottom: 1px solid #3C8DBC;
    border-left: 1px solid #3C8DBC;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-history-gerente {
    padding: 6px;
    margin: 3px 0;
    border-bottom: 1px solid #EC971F;
    border-left: 1px solid #EC971F;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-history-other {
    padding: 6px;
    margin: 3px 0;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    border-left-width: 5px;
    border-radius: 3px;
}

.title-history {
    font-size: 10px;
    padding-bottom: 10px;
    color: #3C8DBC;
}

.comentario-history {
    font-size: 12px;
    padding-bottom: 10px;
}

.rolagem-history {
  height: 303px;
  overflow: auto;
}

.rolagem-rastreamento {
  height: 483px;
  overflow: auto;
}

.thumbnail {
  position: relative;
  width: 300px;
  height: 153px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}


.thumbnail-carrossel {
  position: relative;
  width: 235px;
  height: 100px;
  overflow: hidden;
}
.thumbnail-carrossel img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail-carrossel img.portrait {
  width: 100%;
  height: auto;
}


/*#4cae4c*/
.text-success-lite-disable {
  color: #dbf0db;
}

.text-info {
  color: #2a6496;
}
.text-success-lite {
  color: #5cb85c;
}
.text-info-lite {
  color: #5bc0de;
}
.text-warning-lite {
  color: #f0ad4e;
}
.text-danger-lite {
  color: #d9534f;
}
.text-primary-lite {
  color: #337ab7;
}
.text-white-lite {
  color: #FFFFFF;
}
.text-black-lite {
  color: #515151;
}

.circle {
  width:50px;
  height:50px;
  background: #5cb85c;
  padding: 3px;
  border-radius: 100%;
  text-align:center;
/*  border: 1px solid #000000;*/
}

.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #5cb85c; top: 45px; left: 50%; margin-top: -8px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #f3f3f4; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;  background: #dbf0db;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #5cb85c;}
.bs-wizard > .bs-wizard-step.complete > .progress-bar > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #dbf0db;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

/*.bs-wizard {margin-top: 40px;}
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
*/


.timeline-badge {
  color: #fff;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 0.9em;
  text-align: center;
  position: absolute;
  top: 15px;
  left: 8px;
  margin-left: 0px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline-panel {
  /*float: left;*/
  /*border: 1px solid #d4d4d4;*/
  /*top: 6px;*/
  /*border-radius: 2px;*/
  padding-left: 25px;
  /*position: relative;*/
  /*-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);*/
  /*box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);*/
}
.timeline-badge.warning {
  background-color: #E1272D;
}
.timeline-badge.info {
  background-color: #ccccd0;
}
.timelineresponsavel {
  float: left;
  font-size: 0.7em;
}
.timelinedata {
  float:right;
  text-align:right;
  font-size: 0.7em;
}


.main-notificacao {
  height: 220px;
  overflow-y: auto;
  overflow-y: hidden;
  padding: 10px 0px 0px 0px;
}
.list-group-chat ul:nth-child(1){
  border: 0 none;
}
.list-group-chat ul{
  border-left: 0 none;
  border-right: 0 none;
}




.textarea-chat {
  border: none;
}
.textarea-chat:hover {
  border: 1px solid #E7EAEC;
}



.bs-callout-custom {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-custom h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout-custom p:last-child {
    margin-bottom: 0;
}
.bs-callout-custom code {
    border-radius: 3px;
}
.bs-callout-custom+.bs-callout-custom {
    margin-top: -5px;
}
.bs-callout-custom-default-2 {
    border-left-color: #777;
}
.bs-callout-custom-default h4 {
    color: #777;
}
.bs-callout-custom-primary {
    border-left-color: #428bca;
}
.bs-callout-custom-primary h4 {
    color: #428bca;
}
.bs-callout-custom-success {
    border-left-color: #5cb85c;
}
.bs-callout-custom-success h4 {
    color: #5cb85c;
}
.bs-callout-custom-danger {
    border-left-color: #d9534f;
}
.bs-callout-custom-danger h4 {
    color: #d9534f;
}
.bs-callout-custom-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-custom-warning h4 {
    color: #f0ad4e;
}
.bs-callout-custom-info {
    border-left-color: #5bc0de;
}
.bs-callout-custom-info h4 {
    color: #5bc0de;
}

/*.modalCalendario {
    height: 90%;
}*/

.atributos-lista-calendario {
  color: #3C8DBC;
  padding-top: 10px;
}
.atributos-lista-calendario-excluido {
  color: #777;
  padding-top: 10px;
}

.slide_imovel {
  height: 135px !important;
  width: 227px !important;
}

/*  Alinhar DIV   */
/*.bx-wrapper, .bx-viewport {
  float: left;
}*/

.incorreta {
  background-color: #E1272D;
  color: #FFFFFF;
}

#map-canvas {
  height: 250px;
  margin-bottom: 50px;
}

.accordion-mapa {
  margin-top: -30px;
}

.mapa {
  color: #333;
  background-color: #ffffff;
  border-color: #ddd;
}

.espacamentoBotao {
  padding-top: 90px;
}

.contador {
  font-size: 9px;
  color: red;
}

.botaoCapa {
  padding-top: 10px;
}
.botaoDownload {
  padding-top: 10px;
}
.botaoMostrarMapa {
  padding-top: 10px;
}

.datepicker{
  z-index:1151 !important;
}

.lista {
  padding-top: 10px;
}

.modal-banco {
  padding-top: 10px;
}

.padding-bottom-100 {
  padding-bottom: 100px;
}
.padding-bottom-80 {
  padding-bottom: 80px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-left-percentual {
  padding-left:5px;
}

.divRelacionados {
  padding-top: 50px;
}



.bordaTempDiv {
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
}
.bordaTempDiv2 {
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
}

.divValores {
  padding-top: 90px;
}
.divValoresFaturamento {
  padding-top: 73px;
}

.texto-cinza-claro {
  color: #999;
}
.texto-vermelho {
  color: #E1272D;
}
.texto-verde {
  color: #5cb85c;
}

.texto-negrito {
  font-weight: bold;
}

.receita {

}
.despesa {
  color: #E1272D;
}

.comissao-caixa {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
}
.commisao-font {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 10px;
}
.comissao-espacamento {
  padding-bottom: 30px;
}
.comissao-espacamento2 {
  padding-top: 10px;
}
.comissao-espacamento-lateral {
  padding-right: 10px;
}
.bs-callout-comissao {
  margin: 12px 0px 12px 0px;
  border-bottom: 2px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-left-width: 3px;
}
.font-cinza {
  color: #999;
}

.font-branco {
  color: #FFFFFF;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-20 {
  margin-top: 20px;
}

.btn-image {
  margin: 0px -8px;
  max-width: 20px;
  max-height: 30px
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.align-left {
  text-align: left;
  display:inline;
}

.align-right {
  text-align: right;
  display:inline;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-14 {
  font-size: 14px;
}

.border-text {
    border-style: solid;
    border-color: #0000ff;
}

.style-boxInterna-widget {
    padding-top: 5px;
    padding-bottom: 5px;
}

.style-boxInterna-widget2 {
    padding-top: 3px;
    padding-bottom: 3px;
}

.style-boxInterna-widget-bold {
    font-weight: bold;
}

.style-box-widget {
    max-height: 180px;
    height: 180px;
    overflow: auto;
    font-size: 11px;
}

.style-boxInterna-widget-center {
  text-align: center;
}

.style-boxInterna-widget-right {
  text-align: right;
}

.style-boxInterna-botton {
  margin-bottom: 5px;
}
.style-boxInterna-font {
  font-size: 11px;
}

.padding-top-20 {
  padding-top: 20px;
}

.font-top-lancamentos {
  font-size: 11px;
}

.font-real-investimento {
  font-size: 13px;
}

.alinhamento-grafico-top {
  margin-top: 20px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.title-rastreamento-cliente {
  margin-top: 10px;
  margin-bottom: 10px;
}

.letra_A { background-color: #FFDEAD; }
.letra_B { background-color: #EE82EE; }
.letra_C { background-color: #DCDCDC; }
.letra_D { background-color: #E0FFFF; }
.letra_E { background-color: #EEEED1; }
.letra_F { background-color: #B3EE3A; }
.letra_G { background-color: #FAEBD7; }
.letra_H { background-color: #C1FFC1; }
.letra_I { background-color: #FFEBCD; }
.letra_J { background-color: #FFE4C4; }
.letra_K { background-color: #FFDAB9; }
.letra_L { background-color: #8FBC8F; }
.letra_M { background-color: #FFE4B5; }
.letra_N { background-color: #EEAEEE; }
.letra_O { background-color: #AB82FF; }
.letra_P { background-color: #FFFACD; }
.letra_Q { background-color: #DDA0DD; }
.letra_R { background-color: #BEBEBE; }
.letra_S { background-color: #B4EEB4; }
.letra_T { background-color: #96CDCD; }
.letra_U { background-color: #FFBBFF; }
.letra_V { background-color: #E6E6FA; }
.letra_W { background-color: #FFC125; }
.letra_Y { background-color: #90EE90; }
.letra_Z { background-color: #FFA54F; }

.letra {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 12px;
    line-height: 1.42857143;
}

.nivel_1 {
  margin-left: 20px;
}
.nivel_2 {
  margin-left: 40px;
}
.nivel_3 {
  margin-left: 60px;
}

.grafico-grid {
  width: 150px;
  height: 70px;
}

.editor {
  width: 100%;
}

.mapaFull {
  height: 100%;
}

.thumbnail-mapa {
    position: relative;
    width: 165px;
    height: 100px;
    overflow: hidden;
}
.thumbnail-mapa img.portrait {
    width: 100%;
    height: auto;
}
.divExternaMapa {
    margin: 0 auto;
    width: 100%;
    padding-left: 22px;
}

.background-vermelho {
    background-color: #D9534F;
}
.background-verde {
    background-color: #52B587;
}
.div-fixo {
    position: fixed;
    z-index: 2;
    top: 0;
}
.top-div {
    background-color: #52B587;
    height: 30px;
}
.btn-avaliacao {
    color: #FFF;
    background-color: #52B587;
    border-color: #52B587;
    border: 1px solid #52B587;
    outline: 0;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 15px;
    margin-top: -13px;
}
.cadastroAvaliacao {
    background-color: #D9534F;
    height: 90px;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.arquivo-estilo {
    padding-left: 20px;
    color: #EC0039;
}
